@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Dedication */
section[epub|type~="dedication"]{
	margin-top: 20vh;
}

section[epub|type~="dedication"] header p{
	font-variant: all-small-caps;
	line-height: 2;
	text-align: center;
}

section[epub|type~="dedication"] header b{
	font-size: larger;
	text-transform: uppercase;
}
/* End dedication */

[epub|type~="z3998:song"],
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"],
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

hr:first-of-type + p{
	font-style: italic;
}
